





nav{
    padding: 3% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



main{
    margin-top: 10%;

}
h1{
    font-size: 45px;
    font-weight: bold;
}

p{
    margin-top: 8%;
    font-size: 20px;
    font-weight: bold;
}
